:root {
  --background-color: #e6e9ed;
  --main-color: #0c4da2;
  --red-color: #ff7b7c;
  --border-color: #e9ecef;
  --input-box-color: #f7f8f9;
  --check-text-color: #ced4da;
}

* {
  box-sizing: border-box;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

/* body */
body {
  background-color: var(--background-color);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO List */
.todo-list {
  background-color: white;
  border-radius: 0.8em;
  width: 25em;
  position: relative;
}

/* HEADER */
.todo-list .header {
  border-bottom: 2px solid var(--border-color);
  padding: 1em;
}
.todo-list .header .title {
  margin: 0;
  margin-bottom: 12px;
}
.todo-list .header .item-count {
  color: var(--main-color);
  font-weight: bold;
}

/* ITEMS */
.fas.fa-check {
  visibility: hidden;
}
.fas.fa-trash {
  visibility: hidden;
}
.items {
  height: 30em;
  padding: 0 var(--space-size);
  overflow-y: auto;
}
.item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 0.8em;
}

.item:hover .fas.fa-trash {
  visibility: visible;
}
.item .item--checkbox {
  display: flex;
}
.item--checkbox .check-circle {
  border: 2px solid var(--border-color);
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  margin: 0 1em;
  cursor: pointer;
}
.item .item--checkbox .check-circle.checked {
  border: 2px solid var(--main-color);
}
.item--checkbox .check-circle .fas.fa-check.checked {
  visibility: visible;
  color: var(--main-color);
}
.item-text.checked {
  color: var(--check-text-color);
}
.item .fas.fa-trash {
  margin-right: 1em;
  color: var(--border-color);
}
.item .fas.fa-trash:hover {
  color: var(--red-color);
  cursor: pointer;
}

/* INSERT INPUT */
.insertForm {
  background-color: var(--input-box-color);
  height: 7rem;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.insert-input {
  width: 80%;
  position: absolute;
  top: 1.5rem;
  padding: 5px;
  background-color: white;
  border: 1px solid var(--border-color);
}
.insert-input .input {
  outline: none;
  border: none;
  font-size: 24px;
}
.circle-btn {
  z-index: 5;
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.125s all ease-in;
  background-color: var(--main-color);
}
.cancle-btn {
  background-color: var(--red-color);
  transform: translate(-50%, 50%) rotate(40deg);
}

.hidden {
  visibility: hidden;
}
